@tailwind base;
@tailwind components;
@tailwind utilities;

.box {
    width: 23%;
    height: max-content;
}

.scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    margin-top: 2px;
}

.scrollbar::-webkit-scrollbar-thumb {
    /* background: linear-gradient(to buttom right, #4d7ff 0%, #1a56ff 100%); */
    /* background: #d81f26; */
    background: black;
    border-radius: 3px;
}

.listKpiche {
    height: 229vh;
}


@media (min-width:640px) {
    .listKpiche {
        height: 297vh;
    }
}